/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

body {
	padding-top: 0px;
}

h1 {
	font-family: 'Faster One', cursive;
	font-size: 72px;
	padding-left: 50px;
}

label {

}