<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Close Call</title>

    <!-- Latest compiled and minified CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 -->
    <!-- Optional theme -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
 -->
    <link href='https://fonts.googleapis.com/css?family=Faster+One' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/bootstrap-cyborg.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- Custom styles for this template -->    
    <link href="{{ url_for('static', filename='css/jumbotron.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-social.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-clockpicker.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <h1>Close Call</h1>
    <div class="jumbotron">
      <div class="container">
        <p>{{ session }}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
        <form class="call-form" action="/submit-call" method="post">
          <div class="form-group">
            <label>Wakeup Time</label>
            <div class="input-group clockpicker" data-donetext="Done">
                <input name="time" type="text" class="form-control" value="09:00">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <br />
            <label>Phone Number</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">📞</span>
              <input name="phone" type="text" class="form-control" placeholder="6171234567">
            </div>
            <br />
            <label>Consequences</label>
            {% if session['facebook_token'] %}
            <div class="checkbox">
              <label>
                <input name="facebook_post" type="checkbox" value="">
                Dig up an old Facebook status and post it to my wall
              </label>
            </div>
            {% else %}
            <div class="row">
              <div class="col-md-6">
                <a class="btn btn-md btn-block btn-social btn-facebook" href="/login/facebook">
                  <span class="fa fa-facebook"></span> Sign in with Facebook
                </a>
              </div>
            </div>
            {% endif %}
            <br />
            {% if session['venmo_token'] %}
            <div class="checkbox">
              <label>
                <input name="venmo_transaction" type="checkbox" value="">
                Send my money ($1) to the creators of this awful service
              </label>
            </div>
            {% else %}
            <div class="row">
              <div class="col-md-6">
                <a class="btn btn-md btn-block btn-social btn-dropbox" href="/login/venmo">
                  <span class="fa fa-dollar"></span> Sign in with Venmo
                </a>
              </div>
            </div>
            {% endif %}
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
        </div>

        <div class="col-md-3">
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2015 Close Call, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-clockpicker.min.js') }}" rel="stylesheet"></script>
    <script type="text/javascript">
    $('.clockpicker').clockpicker();
    </script>
  </body>
</html>

